@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primaryBackground;
  }

  input {
    @apply outline-none border-none px-4 text-base h-[43.91px] rounded-md bg-[#F5F5F5] caret-[#999999] hover:bg-[#EAEAEA] focus:bg-[#EAEAEA] transition-all ease-linear duration-200 font-lato font-normal;
  }

  button {
    @apply bg-white py-2 px-3 rounded-lg text-[10px] min-h-[32.93px] font-montserrat text-secondaryText;
  }

  table {
    @apply bg-[#F5F5F5] rounded-lg w-max md:w-full;
  }

  th {
    @apply font-figtree font-semibold text-sm text-black py-3 px-4 text-start;
  }

  td {
    @apply px-0 font-figtree font-normal text-sm text-black;
  }

  td > div {
    @apply bg-white mt-3 flex items-center px-4 w-full min-h-[58px];
  }

  tr:last-child > td > div {
    @apply mb-3;
  }
}

@layer components {
  .container {
    @apply w-full max-w-[90%] mx-auto;
  }
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
